body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  /* display: inline; */
}

.cards-container{
  display: flex;
}

.tile-image{
  height: 200px;
  margin-right: 50px;
  float: left;
}

.card{
  /* flex: 1; */
  /* text-align: justify; */
  /* width: 45%; */
}

h1 {
  font-size: 5rem;
  /* display: inline; */
}

#creative{
  color: midnightblue;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (width <=680px) {
  .cards-container {
    flex-direction: column;

    /* width: 100%; */
  }

  .card {
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .tile-image {
    width: 100%;
    float: none;
    object-fit: cover;
  }
}